@use "../../assets/sass/variable" as *;

.counter {
    width: 90%;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;

    margin-top: auto;
    align-self: center;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    &__heading {
        font-size: 20px;
        margin: 0px; 
    }

    &__count {
        font-size: 40px;
        margin: 0px;
    }

    &__buttons {
        display: flex;
        justify-content: space-around;
        width: 50%;

        &__button {
            height: 30px;
            width: 30px;
            text-align: center;
            font-size: 25px;
            vertical-align: center;

        }
    }
}