@use "./assets/sass/variable" as *;

.App {
    margin: 10px;
    border:solid black 2px;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.employee-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}